# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DataCollectorGrpc.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\benoit\RiderProjects\DataCollectorGrpc\.idea\.idea.DataCollectorGrpc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
